<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Log4j2Config">

    <Properties>
        <Property name="app_log_root">logs</Property>
        <Property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Property>

        <Property name="log">Pokemon</Property>
        <Property name="tiempos">Pokemon.tiempos</Property>
        <Property name="performance">Pokemon.performance</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log_pattern}"/>
        </Console>

        <RollingFile name="FileLogger"
                     fileName="${app_log_root}/${log}.log"
                     filePattern="${app_log_root}/${log}-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="FileLoggerTiempos"
                     fileName="${app_log_root}/${tiempos}.log"
                     filePattern="${app_log_root}/${tiempos}-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <RollingFile name="FileLoggerPerformance"
                     fileName="${app_log_root}/${performance}.log"
                     filePattern="${app_log_root}/${performance}-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

        <Logger name="com.example" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <Logger name="tiempos" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLoggerTiempos"/>
        </Logger>

        <Logger name="performance" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLoggerPerformance"/>
        </Logger>
    </Loggers>
</Configuration>
